# Override file for development
# This file is automatically used by docker-compose for local development
version: "3.8"

services:
  api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - .:/src
    ports:
      - "5000:8080"
      - "5001:8081"
